<section class="shop-checkout" *ngIf="cart.length == 0">
    <div class="container">

        <h1 class="page-title">Koszyk pusty</h1>

    </div>
</section>


<section class="shop-checkout" *ngIf="cart.length > 0">
    <div class="container">

        <h1 class="page-title">Koszyk</h1>

        <!--Start form table-->
        <form>
            <table class="shop_table cart">
                <!--Table header-->
                <thead>
                <tr>
                    <th class="product-remove">&nbsp;</th>
                    <th class="product-thumbnail">Produkt</th>
                    <th class="product-name">&nbsp;</th>
                    <th class="product-price">Cena</th>
                    <th class="product-quantity">Ilość</th>
                    <th class="product-subtotal">Razem</th>
                </tr>
                </thead>
                <!--End table header-->

                <!--Table body-->
                <tbody>

                <tr class="cart_item" *ngFor="let cartItem of cart; let i = index">
                    <td class="product-remove">
                        <a (click)="deleteProduct(i)" class="remove" title="Usuń ten produkt"></a>
                    </td>
                    <td class="product-thumbnail">
                        <img src="{{cartItem.thumb}}" alt="cart" />
                    </td>

                    <td class="product-name">
                        {{cartItem.name}}
                    </td>
                    <td class="product-price">
                        <span class="amount">${{cartItem.price}}</span>
                    </td>

                    <td class="product-quantity">
                        <div class="quantity"><input (click)="updateSum()" [value]="cartItem.quantity" (input)="cartItem.quantity = $event.target.value" type="number" step="1" min="1" name="cart" title="Qty" class="input-text qty text" size="4"></div>
                    </td>

                    <td class="product-subtotal">
                        <span class="amount">${{cartItem.quantity * cartItem.price | number:'1.2-5'}}</span>
                    </td>
                </tr>


                <tr>
                    <td class="actions" colspan="6">
                        <a class="back-shop" (click)="navigateBack()"><i class="fa fa-angle-left"></i> POWRÓT DO ZAKUPÓW</a>
                        <button class="update-cart" type="submit">zapłać</button>
                    </td>
                </tr>

                </tbody>
                <!--End table body-->
            </table>
        </form>
        <!--End form table-->

        <!--Cart attr-->
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <!--Coupon-->
                <div class="coupon">

                </div>
                <!--End coupon-->
            </div>
            <div class="col-md-6 col-sm-6">

                <!--Cart totals-->
                <div class="cart_totals">
                    <div class="cart_totals_inner">
                        <table>
                            <tbody>
                            <tr class="cart-subtotal">
                                <th>Subtotal</th>
                                <td><span class="amount">{{cartSum | number:'1.2-5'}} zł</span></td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
                <!--End cart totals-->

            </div>
        </div>
        <!--End cart attr-->
    </div>
</section>