<div class="row">
    <div class="col-xs-12">
        <form [formGroup]="userForm" (ngSubmit)="onSubmit()">
            <div class="row">
                <div class="col-xs-12">
                    <button type="submit" class="btn btn-success" [disabled]="!userForm.valid">Save</button>
                    <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
                </div>
            </div>
            <div class="form-group">
                <label for="email">Name</label>
                <input *ngIf="!user" formControlName="name" type="text" id="name" #name class="form-control">
                <input *ngIf="user" formControlName="name" type="text" id="name" #name class="form-control" [(ngModel)]="user.name">
                <span>{{errorName}}</span>
            </div>
            <div class="form-group">
                <label for="email">E-Mail</label>
                <input *ngIf="!user" formControlName="email" type="email" id="email" #email class="form-control">
                <input *ngIf="user" formControlName="email" type="email" id="email" #email class="form-control" [(ngModel)]="user.email">
                <span>{{errorEmail}}</span>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input formControlName="password" type="password" id="password" class="form-control">
            </div>
            <div class="form-group">
                <label for="confirm-password">Confirm Password</label>
                <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control">
                <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
            </div>
            <div class="form-group">
                <label for="role">Select list:</label>
                <select formControlName="role" class="form-control" id="role" #role>
                    <option>user</option>
                    <option>admin</option>
                </select>
            </div>
        </form>
    </div>
</div>


