<div class="row">
    <div class="container">
        <div class="col-md-5">
            <rb-users-list></rb-users-list>
        </div>
        <div class="col-md-7">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>