<div class="tz-shop-content">
    <div class="catalog-meta">
        <div class="catalog_top">
            <span class="style-switch">
                <a (click)="changeView(false)" class="nav-grid-view fa fa-th-large active"></a>
                <a (click)="changeView(true)" class="nav-list-view fa fa-list"></a>
            </span>
            <form class="shop-order">
                <label class="form-arrow">
                    <select #option (change)="changePerPage(option.value)" class="number-item" name="number_item">
                        <option *ngFor="let per of perPageOption" [value]="per" >{{per}} produktów na stronę</option>
                    </select>
                </label>
                <label class="form-arrow">
                    <select name="orderby" class="orderby">
                        <option value="'">Sort By: Position</option>
                        <option value="rating">Sort by rating</option>
                        <option value="date">Sort by newness</option>
                    </select>
                </label>
            </form>
        </div>
    </div>
    <button (click)="addProduct()" class="btn">Dodaj produkt</button>
    <div class="tz-product row grid-eff" [class.list-view]="listView">
        <my-product-item *ngFor="let product of products | paginate: { itemsPerPage: perPageSelected, currentPage: page } | PricePipe:priceSliderValue:anotherPriceSliderValue; let i = index" [product]="product" [productId]="i"></my-product-item>
    </div>
    <pagination-controls #pagination (pageChange)="page = $event">
        <div class="pagination">
            <ul class="pagination_list pull-right">
                <li class="pagination-previous" [class.disabled]="pagination.isFirstPage()">
                    <a *ngIf="!pagination.isFirstPage()" (click)="pagination.previous()"> < </a>
                </li>

                <li *ngFor="let page of pagination.pages" [class.current]="pagination.getCurrent() === page.value">
                    <a (click)="pagination.setCurrent(page.value)" *ngIf="pagination.getCurrent() !== page.value">
                        <span>{{ page.label }}</span>
                    </a>
                    <div *ngIf="pagination.getCurrent() === page.value">
                        <span class="current">{{ page.label }}</span>
                    </div>
                </li>


                <li class="pagination-next" [class.disabled]="pagination.isLastPage()" *ngIf="pagination.directionLinks">
                    <a *ngIf="!pagination.isLastPage()" (click)="pagination.next()"> > </a>
                </li>
            </ul>

        </div>
    </pagination-controls>
</div>