.tz-shop {
    padding: 50px 0;
}
.tz-shop-content {
    overflow: hidden;
}
.tz-breadcrumbs {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tz-breadcrumbs:after {
    clear: both;
    display: table;
    content: '';
}
.tz-breadcrumbs li {
    float: left;
    position: relative;
    padding-right: 20px ;
    padding-left: 5px;
    line-height: 30px;
}
.tz-breadcrumbs li:first-child {
    padding-left: 0;
}
.tz-breadcrumbs li:after {
    position: absolute;
    right: 0;
    top: 0;
    content: "->";
}
.tz-breadcrumbs li:last-child:after {
    display: none;
}
.tz-breadcrumbs li a {
    display: block;
}
.shop-banner {
    margin-top: 14px;
}
.catalog-meta {
    margin: 30px 0 0;
}
.catalog_top {
    margin: 5px 0 0 5px;
    background: #fafafa;
    border: 1px solid #eeeeee;
    -o-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
    -ms-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
    -webkit-box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
    box-shadow: -5px -5px 0px -1px #ffffff, -5px -5px 0 0 #eeeeee;
}
.catalog_top:after {
    clear: both;
    display: table;
    content: '';
}
.catalog_top .style-switch {
    float: left;
}
.catalog_top .style-switch a {
    font-size: 16px;
    border-right: 1px solid #eeeeee;
    display: inline-block;
    line-height: 53px;
    padding-left: 25px;
    padding-right: 25px;
    cursor: pointer;
}
.catalog_top .style-switch a.active {
    color: #f44336;
}
.catalog_top .shop-order {
    float: right;
}
.catalog_top .shop-order select {
    height: 53px;
    color: #9e9e9e;
    border-width: 0 0 0 1px;
    border-color: #eeeeee;
    border-style: solid;
    background: none;
    padding: 0 15px;
}
.catalog_top .shop-order select option {
    padding: 5px  5px 5px 15px;
}
.catalog_top .shop-order .form-arrow {
    margin: 0;
    position: relative;
    font-weight: 300;
}
.catalog_top .shop-order .form-arrow:after {
    background: #fafafa;
    content: '\f0d7';
    font-family: "FontAwesome";
    line-height: 53px;
    pointer-events: none;
    position: absolute;
    right: 0;
    top: 0;
    width: 25px;
}
.tz-product {
    list-style: none;
    padding: 0;
    margin-top: 25px;
    margin-bottom: 25px;
}
.tz-product:after {
    clear: both;
    display: table;
    content: '';
}

.pagination {
    display: block;
    margin: 27px 0;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}
.pagination:after {
    clear: both;
    display: table;
    content: '';
}
.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.pagination ul:after {
    clear: both;
    display: table;
    content: '';
}
.pagination ul li {
    float: left;
}
.pagination ul li a{
    padding: 10px;
    cursor: pointer;
}
.pagination ul li span.current {
    padding: 10px;
}
.pagination ul li a.current,
.pagination ul li span.current,
.pagination ul li a:hover,
.pagination ul li span:hover {
    color: #f44336;
}