<div [ngClass]="'product-item col-md-4 col-sm-6'">
    <div class="item">
        <div class="product-item-inner">
            <div class="product-thumb">
                <img src="{{product.thumb}}" alt="">
            </div>
            <div class="product-info">
                <h4><a [routerLink]="[product.id]">{{product.name}}</a></h4>
                <span class="p-meta">
                    <span class="p-price">{{product.price}} zł</span>
                </span>
                <span class="p-color" >
                     <i class="fa fa-circle {{color}}" *ngFor="let color of colors"></i>
                </span>
                <p>
                    {{product.description}}
                </p>
                <span class="p-mask">
                    <a (click)="addToCart()" *ngIf="!isAdmin()" class="add-to-cart">Add to cart</a>
                    <a (click)="onDelete()" *ngIf="isAdmin()" class="add-to-cart">Usuń produkt</a>
                   <span class="quick-view">
                       <a *ngIf="!isAdmin()" [routerLink]="[product.id]"><i class="fa fa-eye"></i>Szybki podgląd</a>
                       <a (click)="onEdit()" *ngIf="isAdmin()"><i class="fa fa-eye"></i> Edytuj produkt</a>
                   </span>
                </span>
            </div>
        </div>
    </div>
</div>