.product-item {
    padding-top: 15px;
    padding-bottom: 15px;
}
.product-item .item {
    position: relative;
    min-height: 290px;
    border: 1px solid #eeeeee;
}
.product-item .item .product-item-inner {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    min-height: 310px;
    background-color: transparent;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .item .product-item-inner .product-thumb img {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .item .product-item-inner .p-vote {
    display: none;
}
.product-item .item .product-item-inner p {
    display: none;
    padding-right: 10px;
}
.product-item .item .product-item-inner .product-info {
    position: static;
}
.product-item .item .product-item-inner .product-info h4 {
    margin: 8px 0 0 0;
    padding: 0;
}
.product-item .item .product-item-inner .product-info .p-meta {
    display: block;
    margin: 16px 0 12px;
}
.product-item .item .product-item-inner .product-info .p-meta .p-price {
    color: #f44336;
    font-size: 19px;
}
.product-item .item .product-item-inner .product-info .p-color {
    opacity: 0;
    filter: alpha(opacity=0);
    display: block;
    margin: 0;
}
.product-item .item .product-item-inner .product-info .p-color i {
    font-size: 16px;
    margin: 0 4px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: translate(0, -200px);
    -ms-transform: translate(0, -200px);
    -o-transform: translate(0, -200px);
    transform: translate(0, -200px);
    background: none !important;
    opacity: 0;
    filter: alpha(opacity=0);
}
.product-item .item .product-item-inner .product-info .p-mask {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 15%;
    left: 0;
}
.product-item .item .product-item-inner .product-info .p-mask .add-to-wishlist {
    display: none;
}
.product-item .item .product-item-inner .product-info .p-mask a {
    background: #212121;
    color: #ffffff;
    text-transform: none;
    padding: 2px 25px;
    display: inline-block;
    border: 0;
    font-size: 16px;
    line-height: 36px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 5px;
    -webkit-transition: transform 0.3s ease 0s;
    -o-transition: transform 0.3s ease 0s;
    transition: transform 0.3s ease 0s;
    opacity: 0;
    filter: alpha(opacity=0);
}
.product-item .item .product-item-inner .product-info .p-mask a:hover,
.product-item .item .product-item-inner .product-info .p-mask a:focus {
    background: #f44336;
}
.product-item .item .product-item-inner .product-info .p-mask a.add-to-cart {
    -webkit-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
}
.product-item .item .product-item-inner .product-info .p-mask a i {
    display: none;
}
.product-item .item .product-item-inner .product-info .p-mask .quick-view {
    display: block;
    text-align: center;
}
.product-item .item .product-item-inner .product-info .p-mask .quick-view a {
    -webkit-transform: translate(-80px, 0);
    -ms-transform: translate(-80px, 0);
    -o-transform: translate(-80px, 0);
    transform: translate(-80px, 0);
}
.product-item .item:hover {
    border-color: transparent;
}
.product-item .item:hover .product-item-inner {
    -webkit-box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24);
    box-shadow: 0 1px 6px 0 rgba(0, 0, 0, 0.24);
    background-color: #ffffff;
}
.product-item .item:hover .product-item-inner .product-thumb img {
    opacity: 0.6;
    filter: alpha(opacity=60);
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    -o-transform: scale(0.9);
    transform: scale(0.9);
}
/*.product-item .item .product-item-inner .product-info .p-mask a.add-to-cart*/
.product-item .item:hover .product-item-inner .product-info .p-mask a.add-to-cart {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .item:hover .product-item-inner .p-mask .quick-view a {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .item:hover .product-item-inner .product-info .p-color {
    opacity: 1;
    filter: alpha(opacity=100);
}
.product-item .item:hover .product-item-inner .product-info .p-color i {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(3) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    color: #ffff00 !important;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(4) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(5) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(6) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(7) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(8) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(9) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(10) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(11) {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(12) {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(13) {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(14) {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(15) {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}
.product-item .item:hover .product-item-inner .product-info .p-color :nth-child(16) {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.list-view .product-item {
    text-align: left;
    width: auto;
    display: block;
}
.list-view .product-item .item {
    height: auto;
    min-height: 280px;
}
.list-view .product-item .item .product-item-inner {
    position: relative;
    top: auto;
    left: auto;
    min-height: inherit;
}
.list-view .product-item .item .product-item-inner:after {
    clear: both;
    display: table;
    content: '';
}
.list-view .product-item .item .product-item-inner .product-thumb {
    float: left;
    width: 33%;
    overflow: hidden;
}
.list-view .product-item .item .product-item-inner .product-thumb img {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.list-view .product-item .item .product-item-inner .product-info {
    width: 67%;
    position: relative;
    float: left;
}
.list-view .product-item .item .product-item-inner .product-info h4 {
    margin: 25px 0 0 0;
}
.list-view .product-item .item .product-item-inner .product-info .p-meta {
    margin: 10px 0;
    display: inline-block;
}
.list-view .product-item .item .product-item-inner .product-info .p-meta:after {
    clear: both;
    display: table;
    content: '';
}
.list-view .product-item .item .product-item-inner .product-info .p-meta .p-price {
    float: left;
    line-height: 27px;
}
.list-view .product-item .item .product-item-inner .product-info .p-meta .p-vote {
    margin-left: 40px;
    display: inline-block;
    font-size: 13px;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask {
    position: relative;
    text-align: left;
    width: auto;
    top: auto;
    left: auto;
    display: block;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask a {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
    -webkit-transform: translate(0, 0) !important;
    -ms-transform: translate(0, 0) !important;
    -o-transform: translate(0, 0) !important;
    transform: translate(0, 0) !important;
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask a i {
    margin-right: 10px;
    display: inline-block;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask a .add-to-cart {
    margin-left: 0;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask .add-to-wishlist {
    display: inline-block;
    background: none;
    border: none;
    color: #9e9e9e;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask .add-to-wishlist:hover,
.list-view .product-item .item .product-item-inner .product-info .p-mask .add-to-wishlist:focus {
    background: none !important;
    color: #f44336;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask .quick-view {
    display: inline-block;
    text-align: left;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask .quick-view a {
    background: none;
    border: none;
    color: #9e9e9e;
}
.list-view .product-item .item .product-item-inner .product-info .p-mask .quick-view a:hover {
    background: none !important;
    color: #f44336;
}
.list-view .product-item .item .product-item-inner .product-info .p-color {
    opacity: 1;
    filter: alpha(opacity=100);
}
.list-view .product-item .item .product-item-inner .product-info .p-color i {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
}
.list-view .product-item .item .product-item-inner .product-info p {
    display: block;
    line-height: 24px;
}
.list-view .product-item:hover .product-thumb img {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    -o-transform: scale(1.2);
    transform: scale(1.2);
}