
    <div class="row">
        <div class="col-xs-12">
            <ul class="list-group">
                <rb-order-item (notifyParent)="getNotification($event)" *ngFor="let order of orders | paginate: { itemsPerPage: 3, currentPage: page }; let i = index" [order]="order" [orderId]="i"></rb-order-item>
            </ul>
            <div class="is-text-centered">
                <pagination-controls (pageChange)="page = $event"></pagination-controls>
            </div>
        </div>
    </div>