<div class="list-group-item clearfix" routerLinkActive="active">
    <div class="row">
        <a [routerLink]="[order.id]" class="pull-left">
            <h4 class="list-group-item-heading">{{order.id}}</h4>
            <h4 class="list-group-item-heading">{{order.name}}</h4>
            <h4 class="list-group-item-heading">{{order.total}}</h4>
        </a>
        <span class="pull-right">
          <button (click)="onDelete()" class="btn btn-danger">X</button>
        </span>
    </div>
    <div class="row">
        <h4 *ngIf="order.status == 0">Status zamówienia: W realizacji</h4>
        <h4 *ngIf="order.status == 1">Status zamówienia: Wysłano</h4>
        <span class="pull-right">
          <button (click)="changeStatus()" [disabled]="order.status == 1" class="btn btn-danger">Zmień status</button>
        </span>
    </div>
</div>