/**
 * 3.7.5 - Shop Checkout
 * -----------------------------------------------------------------------------
 */
.shop-checkout {
    margin: 28px 0 105px;
    border: 0;
    border-color: transparent;
}
.shop-info {
    margin-bottom: 50px;
}
.shop-info p {
    padding: 0;
}
.shop-info p:first-child {
    margin-bottom: 15px;
}
.shop-info a {
    color: #f44336;
}
.shop-billing-fields h3 {
    font-size: 20px;
    line-height: 36px;
    color: #212121;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
    margin-bottom: 12px;
}
.form-row {
    padding: 8px 0;
}
.form-row label {
    font-weight: 700;
    display: block;
    line-height: 40px;
    margin-bottom: 1px;
}
.form-row label span {
    color: #f44336;
}
.form-row input[type='text'],
.form-row input[type='email'],
.form-row select {
    width: 100%;
    height: 40px;
    border: 1px solid #e0e0e0;
    padding: 0 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    line-height: 40px;
}
.form-row input[type='text']::-moz-placeholder,
.form-row input[type='email']::-moz-placeholder,
.form-row select::-moz-placeholder {
    color: #212121;
    opacity: 1;
}
.form-row input[type='text']:-ms-input-placeholder,
.form-row input[type='email']:-ms-input-placeholder,
.form-row select:-ms-input-placeholder {
    color: #212121;
}
.form-row input[type='text']::-webkit-input-placeholder,
.form-row input[type='email']::-webkit-input-placeholder,
.form-row select::-webkit-input-placeholder {
    color: #212121;
}
.form-row textarea {
    width: 100%;
    height: 190px;
    border: 1px solid #e0e0e0;
    padding: 10px 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    line-height: 40px;
}
.form-row textarea::-moz-placeholder {
    color: #212121;
    opacity: 1;
}
.form-row textarea:-ms-input-placeholder {
    color: #212121;
}
.form-row textarea::-webkit-input-placeholder {
    color: #212121;
}
.form-row textarea:focus {
    outline: none;
    outline-color: transparent;
}
.form-row-first {
    width: 47%;
    float: left;
}
.form-row-last {
    float: right;
    width: 47%;
}
.clear {
    clear: both;
}
.create-account {
    padding: 0;
    margin: 25px 0 0 0;
}
.create-account:after {
    clear: both;
    display: table;
    content: '';
}
.create-account label {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}
.create-account input {
    margin: 0;
    float: left;
}
.ship-to-different-address-checkbox {
    margin: 0 0 35px  0;
    padding: 0;
}
.ship-to-different-address-checkbox:after {
    clear: both;
    display: table;
    content: '';
}
.ship-to-different-address-checkbox label {
    display: inline-block;
    font-weight: 400;
    text-transform: uppercase;
    margin: 0 0 0 20px;
}
.ship-to-different-address-checkbox input {
    margin: 0;
    float: left;
}
#order_review {
    background: #f5f5f5;
    padding: 45px 70px;
    margin-top: 62px;
}
#order_review h3 {
    font-size: 20px;
    line-height: 36px;
    color: #212121;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
}
#order_review table {
    margin: 15px 0 40px 0;
}
#order_review table th {
    font-size: 16px;
    line-height: 36px;
    text-transform: uppercase;
    font-weight: 300;
    padding: 9px 0;
}
#order_review table tr {
    border-bottom: 1px solid #dcdcdc;
}
#order_review table .product-total {
    text-align: right;
}
#order_review table tbody tr {
    border: 0;
}
#order_review table tbody tr td {
    padding: 8px 0;
}
#order_review table tbody tr td strong {
    font-weight: 300;
    color: #9e9e9e;
    padding-left: 20px;
}
#order_review table tbody tr:first-child td {
    padding-top: 27px;
}
#order_review table tbody tr:last-child {
    border-bottom: 1px solid #dcdcdc;
}
#order_review table tbody tr:last-child td {
    padding-bottom: 30px;
}
#order_review table .cart-subtotal {
    border: 0;
}
#order_review table .cart-subtotal th {
    padding: 13px 0 4px;
}
#order_review table .cart-subtotal td {
    padding: 12px 0 0 0;
    text-align: right;
    font-weight: 900;
}
#order_review table .shipping th {
    vertical-align: top;
    padding: 0;
}
#order_review table .shipping td {
    padding-top: 32px;
}
#order_review table .shipping .form-r {
    padding: 6px 0;
}
#order_review table .shipping .form-r:after {
    clear: both;
    display: table;
    content: '';
}
#order_review table .shipping .form-r input {
    float: left;
}
#order_review table .shipping .form-r > span {
    display: block;
    margin: 0 22px 0;
    line-height: 24px;
    -webkit-transform: translate(0, 10px);
    -ms-transform: translate(0, 10px);
    -o-transform: translate(0, 10px);
    transform: translate(0, 10px);
}
#order_review table .shipping .form-r > span .price {
    display: block;
    color: #f44336;
}
#order_review table .order-total {
    border-bottom: 2px solid #dcdcdc;
}
#order_review table .order-total th {
    font-weight: 700;
    font-size: 20px;
    padding: 19px 0;
}
#order_review table .order-total td {
    text-align: right;
    padding: 19px 0;
}
#order_review table .order-total td .amount {
    color: #f44336;
    font-size: 20px;
    font-weight: 700;
}
.payment_methods {
    list-style: none;
    padding: 0;
    margin: 0;
}
.payment_methods li {
    margin-bottom: 15px;
}
.payment_methods li input[type='radio'] {
    margin: 0;
    float: left;
    height: 26px;
}
.payment_methods li label {
    margin: 0 0 0 20px;
    display: inline-block;
    font-weight: 900;
}
.payment_methods li .payment_method_bacs {
    padding-left: 32px;
}