<section class="shop-cart">
    <div class="container">
        <div *ngIf="dataSuccess" class="row">
            <h2>Pomyślnie złożono zamówienie. </h2>
        </div>
        <div *ngIf="!dataSuccess" class="row">
            <h2 *ngIf="cart.length == 0">Koszyk jest pusty.</h2>
            <form *ngIf="cart.length > 0" [formGroup]="checkoutForm" (ngSubmit)="onPay()">
                <div class="col-md-6">

                <!--Start form checkout-->
                    <div class="shop-billing-fields">
                        <h3>Dane do dostawy</h3>
                        <p class="form-row form-row-first">
                            <label for="name" class="">Imię <span class="required">*</span></label>
                            <input formControlName="name" type="text" id="name" #name class="form-control">
                        </p>
                        <p class="form-row form-row-last">
                            <label for="surname" class="">Nazwisko <span class="required">*</span></label>
                            <input formControlName="surname" type="text" id="surname" #surname class="form-control">
                        </p>
                        <div class="clear"></div>
                        <p class="form-row">
                            <label for="street">Ulica, numer domu, numer lokalu  <span class="required">*</span></label>
                            <input formControlName="street" type="text" id="street" #street class="form-control">
                        </p>
                        <p class="form-row">
                            <label for="city">Miasto<span class="required">*</span></label>
                            <input formControlName="city" type="text" id="city" #city class="form-control">
                        </p>
                        <p class="form-row form-row-first">
                            <label for="zip">Kod pocztowy<span class="required">*</span></label>
                            <input formControlName="zip" type="text" id="zip" #zip class="form-control">
                        </p>
                        <p class="form-row form-row-last">
                            <label for="phone">Telefon<span class="required">*</span></label>
                            <input formControlName="phone" type="text" id="phone" #phone class="form-control">
                        </p>
                        <div class="clear"></div>

                    </div>
                <!--End form checkout-->

            </div>
            <div class="col-md-6">

                <!--Order review-->
                <div id="order_review">
                    <h3>Twoje zamówienie</h3>

                    <!--Shop table-->
                    <table class="shop_table">
                        <thead>
                        <tr>
                            <th class="product-name">Produkty</th>
                            <th class="product-total">Łącznie</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr class="cart_item" *ngFor="let cartItem of cart; let i = index">
                            <td class="product-name">
                                {{cartItem?.name}}
                                <strong class="product-quantity">× {{cartItem?.quantity}}</strong>
                            </td>
                            <td class="product-total">
                                <span class="amount">{{cartItem?.quantity * cartItem?.price | number:'1.2-5'}} zł</span>
                            </td>
                        </tr>
                        </tbody>
                        <tfoot>

                        <tr class="shipping">
                            <th>Przesyłka darmowa !</th>
                        </tr>

                        <tr class="order-total">
                            <th>Do zapłaty</th>
                            <td><strong><span class="amount">{{cartSum | number:'1.2-5'}} zł</span></strong> </td>
                        </tr>
                        </tfoot>
                    </table>
                    <!--End shop table-->

                    <!--Start payment-->
                    <div id="payment" class="checkout-payment">
                        <h2>Sposób zapłaty: Paypall</h2>

                    </div>
                    <p class="form-row form-row-last">
                        <input (click)="paypalForm.submit()" type="submit" [disabled]="!checkoutForm.valid" class="button" value="Płacę">
                    </p>
                    <form #paypalForm target="paypal" action="https://www.sandbox.paypal.com/cgi-bin/webscr"  method="post">

                        <input type="hidden" value="kamil9998@vp.pl" name="business">

                        <input type="hidden" value="Order" name="item_name">
                        <input type="hidden" value="1000" name="amount">
                        <input type="hidden" value="SEK" name="currency_code">


                        <input type="hidden" value="namehere" name="first_name">
                        <input type="hidden" value="lastnamehere" name="last_name">
                        <input type="hidden" value="emailaddressaere" name="email">

                        <input type="hidden" value="addresshere" name="address1">
                        <input type="hidden" value="cityhere" name="city">
                        <input type="hidden" value="PL" name="country">

                        <input type="hidden" value="0" name="address_override">


                        <input type="hidden" value="http://www.mydomain.com/thanks" name="return">
                        <input type="hidden" value="http://www.mydomain.com/checkout" name="cancel_return">

                        <input type="hidden" value="uniqueid" name="invoice">
                        <input type="hidden" value="sale" name="paymentaction">

                        <input type="hidden" name="cmd" value="_xclick">
                        <input type="hidden" name="charset" value="utf-8">

                        <!--<input type="submit" value="Buy" />-->
                    </form>
                    <!--End payment-->

                </div>
                <!--End order review-->

            </div>
            </form>
        </div>

    </div>
</section>