.footer-widget {
    background: #f5f5f5;
    padding: 55px 0 27px;
}
.footer-widget .widget-title {
    font-size: 16px;
    line-height: 20px;
    color: #212121;
    margin: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    font-weight: 900;
    padding: 0 0 16px;
}
.footer-left {
    width: 41%;
    float: left;
    padding-right: 50px;
}
.footer-right {
    width: 59%;
    float: left;
    border-left: 1px solid #e0e0e0;
    padding-left: 50px;
}
.widget {
    margin-bottom: 30px;
}
.contact-info .widget-title {
    padding-bottom: 12px;
}
.contact-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.contact-info ul li {
    font-size: 16px;
    line-height: 27px;
    padding: 9px 0 7px;
}
.contact-info ul li:after {
    clear: both;
    display: table;
    content: '';
}
.contact-info ul li span {
    float: left;
    display: block;
    min-width: 70px;
    color: #f44336;
}
.contact-info ul li address {
    margin: 0;
    line-height: 27px;
    padding-left: 70px;
}
.tz-subcribe {
    position: relative;
    padding: 24px 0 0 0;
    margin: 0;
}
.tz-subcribe:after {
    clear: both;
    display: table;
    content: '';
}
.tz-subcribe input[type='text'] {
    width: 270px;
    height: 45px;
    border-color: #e0e0e0;
    border-style: solid;
    border-width: 2px 0 2px 2px;
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    display: block;
    float: left;
}
.tz-subcribe input[type='text']::-moz-placeholder {
    color: #9e9e9e;
    opacity: 1;
}
.tz-subcribe input[type='text']:-ms-input-placeholder {
    color: #9e9e9e;
}
.tz-subcribe input[type='text']::-webkit-input-placeholder {
    color: #9e9e9e;
}
.tz-subcribe input[type='submit'] {
    height: 45px;
    background: #212121;
    color: #ffffff;
    border: 0;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
    display: inline-block;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
}
.tz-subcribe input[type='submit']:hover,
.tz-subcribe input[type='submit']:focus {
    background: #f44336;
}
.tz-social {
    list-style: none;
    padding: 0;
    margin: 0;
}
.tz-social:after {
    clear: both;
    display: table;
    content: '';
}
.tz-social li {
    float: left;
    padding: 3px 0;
}
.tz-social li a {
    color: #9e9e9e;
    font-size: 20px;
    line-height: 27px;
    padding-right: 27px;
    display: block;
}
.tz-social li a:hover {
    color: #f44336;
}
.tz-widget-clients .widget-title {
    padding-bottom: 22px;
}
.tz-widget-say {
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 44px;
}
.tz-widget-say:after {
    clear: both;
    display: table;
    content: '';
}
.tz-widget-say img {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: block;
    float: left;
    margin-top: 9px;
}
.tz-widget-say .entry-say {
    padding-left: 120px;
}
.tz-widget-say .entry-say span {
    color: #f44336;
    display: block;
    padding-top: 8px;
}
.widget_nav_menu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget_nav_menu ul li a {
    line-height: 36px;
}
.tz-copyright {
    background: #212121;
    padding: 27px 0;
}
.tz-copyright p {
    color: #bdbdbd;
}
.tz-copyright p a {
    color: #f44336;
}
.payments-method {
    padding: 12px 0;
    display: block;
}
.payments-method a {
    display: inline-block;
    padding-left: 7px;
}