<footer class="tz-footer">
    <div class="footer-widget">
        <div class="container">

            <!--Start footer left-->
            <div class="footer-left">
                <div class="contact-info widget">
                    <h3 class="widget-title">Kontakt</h3>
                    <!--<p>At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium</p>-->
                    <ul>
                        <li>
                            <span>Adres :</span>
                            <address>
                                02-223 Lodz, ul. Shop 2
                            </address>
                        </li>
                        <li>
                            <span>Tlefon :</span>
                            (012) 345 6789
                        </li>
                        <li>
                            <span>Email :</span>
                            angular2shop@gmail.com
                        </li>
                    </ul>
                </div>
            </div>
            <!--End footer left-->

            <!--Start footer right-->
            <div class="footer-right">
                <div class="tz-widget-clients widget">
                    <h3 class="widget-title">Co mówią o nas klienci?</h3>
                    <div class="tz-widget-say">
                        <img src="../images/say.jpg" alt="Kathy Young">
                        <div class="entry-say">
                            <p>Polecam Ten sklep z czystym sumieniem, za profesjonalne podejście do klienta, bardzo dobry kontakt, szybką realizacje zamówienia.</p>
                            <span>Klient 1</span>
                        </div>
                    </div>
                </div>
            </div>
            <!--End footer right-->

        </div>
    </div>
    <div class="tz-copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <p>Copyright &copy; 2016 FireBike by Kamil Wójt.</p>
                </div>
            </div>
        </div>
    </div>
</footer>