<header id="tz-header" class="bk-white">
    <div class="container">

        <!--Start class header top-->
        <div class="header-top">
            <h3 class="tz-logo pull-left"><a [routerLink]="['home']"><img src="../images/logo.png" alt="home" /></a></h3>
            <ul class="pull-right">

                <li *ngIf="isAdmin()">
                    <a [routerLink]="['users']">Użytkownicy</a>
                </li>
                <li *ngIf="!isAdmin()">
                    <a *ngIf="!isAuth()" [routerLink]="['signup']">Moje konto</a>
                    <a *ngIf="isAuth()" [routerLink]="['useredit']">{{login}}</a>
                </li>
                <li>
                    <a [routerLink]="['cart']">Koszyk</a>
                </li>
                <li *ngIf="!isAdmin()">
                    <a (click)="onCheckout()" style="cursor: pointer">Zapłać</a>
                </li>
                <li *ngIf="isAdmin()">
                    <a [routerLink]="['orders']">Zamówienia</a>
                </li>
                <li *ngIf="isAuth()">
                    <a (click)="onLogout()" style="cursor: pointer">Wyloguj</a>
                </li>
                <li *ngIf="!isAuth()" class="tz-header-login">
                    <a [routerLink]="['signin']">Zaloguj się</a>
                    <div class="tz-login-form">
                        <my-login></my-login>
                        <p class="form-text">
                            Nie masz jeszcze konta?<br> <a [routerLink]="['signup']">Zarejestruj się</a>
                        </p>
                    </div>
                </li>
            </ul>
        </div>
        <!--End class header top-->

    </div>

    <!--Start main menu -->
    <nav class="tz-menu-primary">
        <div class="container">

            <!--Main Menu-->
            <ul class="tz-main-menu pull-left nav-collapse">
                <li>
                    <a [routerLink]="['home']">Strona główna</a>
                </li>
                <li>
                    <a [routerLink]="['products']">Wszystkie</a>
                </li>
                <li>
                    <a [routerLink]="['products']">Szosowe</a>
                </li>
                <li>
                    <a [routerLink]="['products']">MTB</a>
                </li>
                <li>
                    <a [routerLink]="['products']">Czasowe</a>
                </li>
                <li>
                    <a href="contact.html">Kontakt</a>
                </li>
            </ul>
            <!--End Main menu-->

            <!--Shop meta-->
            <ul class="tz-ecommerce-meta pull-right">
                <li class="tz-mini-cart">
                    <a [routerLink]="['cart']"><strong>{{cartI}}</strong>
                        <span *ngIf="cartI > 0">Koszyk : {{cartSum | number:'1.2-5'}} zł</span>
                        <span *ngIf="cartI == 0">Koszyk pusty</span>
                    </a>

                    <my-small-cart></my-small-cart>

                </li>
            </ul>
            <!--End Shop meta-->

            <!--navigation mobi-->
            <button data-target=".nav-collapse" class="btn-navbar tz_icon_menu" type="button">
                <i class="fa fa-bars"></i>
            </button>
            <!--End navigation mobi-->
        </div>
    </nav>
    <!--End stat main menu-->

</header>