<div class="row">
    <div class="wrapper">
        <css-carousel></css-carousel>
    </div>
</div>



<!--Start Custom content-->
<div class="container">
    <div class="box-shadow section-small">
        <div class="row">
            <div class="col-md-4">
                <div class="custom-content">
                    <h3>Darmowa dostawa PL</h3>
                    <p>Międzynarodowe dostawy dostępne</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-content border-left">
                    <h3>Upominki do każdej paczki</h3>
                </div>
            </div>
            <div class="col-md-4">
                <div class="custom-content border-left">
                    <h3>Wykwalifikowany personel</h3>
                    <p>Bezpiecznie zapakowane paczki</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--End custom content-->

<!--Start section large top for tabs content-->
<div class="section-large-top">
    <div class="container">
        <!--Tabs Shop-->
        <div class="tz-shortcode-tabs">

            <!--Tabs Header-->
            <div class="tz-tabs-header">
                <h2 class="tz-tabs-title pull-left">Najnowsze produkty</h2>
            </div>
            <!--End tab header-->

            <!--Tab content-->
            <div class="tab-content">

                <!--Tab item-->
                <div class="tab-pane active" id="one_read">
                    <div class="row">
                        <div class="col-md-4 col-sm-6" *ngFor="let product of new">

                            <!--Start product item-->
                            <div class="product-item" >
                                <div class="product-thubnail">
                                    <img src="{{product.thumb}}" alt="product 1" />
                                </div>
                                <div class="product-infomation">
                                    <h4><a (click)="route(product.id)" style="cursor:pointer;">{{product.name}}</a></h4>
                                    <span class="product-price">{{product.price}} zł</span>
                            </div>
                            </div>
                            <!--End product item-->

                        </div>

                    </div>
                </div>
                <!--End tab item-->

            </div>
            <!--End tab content-->

        </div>
        <!--End Tabs Shop-->
    </div>
</div>
<!--End section large top for tabs content-->

<!--Start section medium for product event-->
<div class="section-medium bk-gray">
    <div class="container">
        <div class="tz-tabs-header">
            <h2 class="tz-tabs-title pull-left">Bestseller</h2>
        </div>

        <!--Product event-->
        <div class="product-event">
            <div class="row">
                <div class="col-md-6">

                    <!--Thumnbail-->
                    <div class="event-thumbail">
                        <img src="{{best?.thumb}}" alt="product event">
                    </div>
                </div>
                <div class="col-md-6">

                    <!--Product content-->
                    <ul class="product-event-content">
                        <li>
                            <div id="defaultCountdown" class="tzCountdown"></div>
                        </li>
                        <li>
                            <h3><a (click)="route(best?.id)" style="cursor:pointer;">{{best?.name}}</a></h3>
                            <span class="product-rating">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                            </span>
                            <span class="event-price">{{best?.price}} zł</span>
                        </li>
                        <li class="product-event-attr">
                            <span class="tz-color">
                                Color:
                                <i class="fa fa-circle light-blue"></i>
                                <i class="fa fa-circle orange"></i>
                                <i class="fa fa-circle blueviolet"></i>
                                <i class="fa fa-circle orange-dark"></i>
                                <i class="fa fa-circle steelblue"></i>
                            </span>
                            <span class="tz-stock">
                                In stock : {{best?.onstock}}
                            </span>
                        </li>
                        <li class="event-footer">
                            <a (click)="route(best?.id)" class="add-to-cart" style="cursor:pointer;">Zobacz szczegóły</a>
                        </li>
                    </ul>
                    <!--End Product content-->

                </div>
            </div>
        </div>
        <!--End product event-->

    </div>
</div>
<!--End section medium for product event-->


<!--Start parallax-->
<section class="parallax background-parallax">
    <div class="container">

        <!--Get In Touch-->
        <div class="get-in-touch">
            <h3>ZAREJESTRUJ SIĘ</h3>
            <p>Stwórz konto i kupuj najlepsze rowery już teraz</p>
            <a class="buynow" [routerLink]="['../signup']">Zarejestruj się</a>
        </div>
        <!--End Get In Touch-->

    </div>
</section>
<!--End Start parallax-->

