.wrapper{
    width: 100%;
    margin: 0 auto;
}

/**
 * 3.1 - Custom content
 * -----------------------------------------------------------------------------
 */
.custom-content {
    text-align: center;
    padding-top: 15px;
    padding-bottom: 15px;
}
.custom-content h3 {
    margin: 5px 0 0 0;
    padding: 0;
    font-size: 16px;
    text-transform: uppercase;
    font-weight: 900;
}
.custom-content p {
    padding: 9px 0 0 0;
}
.tz-tabs-header:after {
    clear: both;
    display: table;
    content: '';
}
/**
 * 3.2 - Shortcode tabs
 * -----------------------------------------------------------------------------
 */
.tz-tabs-title {
    font-size: 30px;
    line-height: 21px;
    font-weight: 900;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
}
.tz-nav-tabs {
    border: 0;
}
.tz-nav-tabs li a {
    border: 0;
    display: inline-block;
    font-size: 19px;
    line-height: 21px;
    position: relative;
    padding: 0 20px;
    margin: 0;
}
.tz-nav-tabs li a i {
    font-size: 5px;
    color: #bdbdbd;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    top: 50%;
    right: 0;
}
.tz-nav-tabs li:focus a,
.tz-nav-tabs li:active a,
.tz-nav-tabs li:hover a,
.tz-nav-tabs li.active a {
    border: 0;
    color: #f44336;
    background: transparent;
}
.tz-nav-tabs li:focus a:focus,
.tz-nav-tabs li:active a:focus,
.tz-nav-tabs li:hover a:focus,
.tz-nav-tabs li.active a:focus,
.tz-nav-tabs li:focus a:hover,
.tz-nav-tabs li:active a:hover,
.tz-nav-tabs li:hover a:hover,
.tz-nav-tabs li.active a:hover {
    border: 0;
    color: #f44336;
    background: transparent;
}
.tz-nav-tabs li:last-child a {
    padding-right: 0;
}
.tz-nav-tabs li:last-child a i {
    display: none;
}
.tab-content {
    padding: 70px 0 36px;
}
.tab-pane .row-item {
    margin-top: 55px;
}
.tab-pane .row-item:first-child {
    margin-top: 0;
}
.product-item {
    text-align: center;
    position: relative;
}
.product-item:hover .product-thubnail .product-meta a,
.product-item:hover .product-thubnail .product-meta .quick-view a {
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item:hover .product-thubnail img {
    opacity: 0.3;
    filter: alpha(opacity=30);
    -webkit-transform: scale(0.98);
    -ms-transform: scale(0.98);
    -o-transform: scale(0.98);
    transform: scale(0.98);
}
.product-item:hover .product-attr i {
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0);
    opacity: 1;
    filter: alpha(opacity=100);
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item:hover .product-attr :nth-child(1) {
    -webkit-transition-delay: 0.2s;
    transition-delay: 0.2s;
}
.product-item:hover .product-attr :nth-child(2) {
    -webkit-transition-delay: 0.3s;
    transition-delay: 0.3s;
}
.product-item:hover .product-attr :nth-child(3) {
    -webkit-transition-delay: 0.4s;
    transition-delay: 0.4s;
    color: #ffff00 !important;
}
.product-item:hover .product-attr :nth-child(4) {
    -webkit-transition-delay: 0.5s;
    transition-delay: 0.5s;
}
.product-item:hover .product-attr :nth-child(5) {
    -webkit-transition-delay: 0.6s;
    transition-delay: 0.6s;
}
.product-item:hover .product-attr :nth-child(6) {
    -webkit-transition-delay: 0.7s;
    transition-delay: 0.7s;
}
.product-item:hover .product-attr :nth-child(7) {
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
}
.product-item:hover .product-attr :nth-child(8) {
    -webkit-transition-delay: 0.9s;
    transition-delay: 0.9s;
}
.product-item:hover .product-attr :nth-child(9) {
    -webkit-transition-delay: 1s;
    transition-delay: 1s;
}
.product-item:hover .product-attr :nth-child(10) {
    -webkit-transition-delay: 1.1s;
    transition-delay: 1.1s;
}
.product-item:hover .product-attr :nth-child(11) {
    -webkit-transition-delay: 1.2s;
    transition-delay: 1.2s;
}
.product-item:hover .product-attr :nth-child(12) {
    -webkit-transition-delay: 1.3s;
    transition-delay: 1.3s;
}
.product-item:hover .product-attr :nth-child(13) {
    -webkit-transition-delay: 1.4s;
    transition-delay: 1.4s;
}
.product-item:hover .product-attr :nth-child(14) {
    -webkit-transition-delay: 1.5s;
    transition-delay: 1.5s;
}
.product-item:hover .product-attr :nth-child(15) {
    -webkit-transition-delay: 1.6s;
    transition-delay: 1.6s;
}
.product-item:hover .product-attr :nth-child(16) {
    -webkit-transition-delay: 1.7s;
    transition-delay: 1.7s;
}
.product-item .product-thubnail {
    height: auto;
    overflow: hidden;
    position: relative;
    width: 100%;
}
.product-item .product-thubnail img {
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-item .product-thubnail .product-meta {
    position: absolute;
    left: 0;
    top: 50%;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    -o-transform: translate(0, -50%);
    transform: translate(0, -50%);
    width: 100%;
    text-align: center;
}
.product-item .product-thubnail .product-meta a {
    background: #212121;
    color: #ffffff;
    text-transform: none;
    padding: 2px 25px;
    display: inline-block;
    border: 0;
    font-size: 16px;
    line-height: 36px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    margin: 5px;
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: all 0.2s ease 0s;
    -o-transition: all 0.2s ease 0s;
    transition: all 0.2s ease 0s;
}
.product-item .product-thubnail .product-meta a:hover,
.product-item .product-thubnail .product-meta a:focus {
    background: #f44336;
}
.product-item .product-thubnail .product-meta span {
    display: block;
}
.product-item .product-thubnail .product-meta .add-to-cart {
    -webkit-transform: translate(80px, 0);
    -ms-transform: translate(80px, 0);
    -o-transform: translate(80px, 0);
    transform: translate(80px, 0);
}
.product-item .product-thubnail .product-meta .quick-view a {
    -webkit-transform: translate(-80px, 0);
    -ms-transform: translate(-80px, 0);
    -o-transform: translate(-80px, 0);
    transform: translate(-80px, 0);
}
.product-item h4 {
    font-size: 19px;
    font-weight: 300;
    margin-top: 43px;
    margin-bottom: 16px;
    padding: 0 5px;
}
.product-item .product-price {
    display: block;
    color: #f44336;
    font-size: 19px;
    line-height: 21px;
}
.product-item .product-attr {
    display: block;
    margin-top: 15px;
}
.product-item .product-attr i {
    font-size: 15px;
    margin: 0 5px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    -webkit-transform: translate(0, -200px);
    -ms-transform: translate(0, -200px);
    -o-transform: translate(0, -200px);
    transform: translate(0, -200px);
    background: none !important;
    opacity: 0;
    filter: alpha(opacity=0);
}
/**
 * 3.3 - Product event
 * -----------------------------------------------------------------------------
 */
.product-event-content {
    padding: 0 0 0 65px;
    margin: 0;
    list-style: none;
}
.product-event-content li {
    border-top: 1px solid #e0e0e0;
    padding-top: 25px;
    margin-top: 21px;
}
.product-event-content li:after {
    clear: both;
    display: table;
    content: '';
}
.product-event-content li:first-child {
    border-top: 0;
    padding: 0;
    margin-top: 0;
}
.product-event-content li h3 {
    font-size: 25px;
    padding: 2px 0 18px 0;
    margin: 0;
}
.product-event-content li .product-rating {
    display: block;
    padding-bottom: 30px;
}
.product-event-content li .product-rating i {
    font-size: 20px;
}
.product-event-content li .event-price {
    font-size: 30px;
    font-weight: 900;
    line-height: 21px;
    color: #f44336;
    padding-bottom: 15px;
    display: block;
}
.product-event-content li .tz-color {
    font-size: 19px;
    line-height: 21px;
}
.product-event-content li .tz-color i {
    background: none;
    font-size: 18px;
    border-radius: 100%;
    -moz-border-radius: 100%;
    -webkit-border-radius: 100%;
    -ms-border-radius: 100%;
    -o-border-radius: 100%;
    margin-right: 5px;
}
.product-event-content li .tz-color i:first-child {
    margin-left: 25px;
}
.product-event-content li .tz-stock {
    font-size: 19px;
    line-height: 21px;
    padding-left: 100px;
}
.product-event-content .event-footer {
    padding-top: 30px;
}
.product-event-content .event-footer .add-to-cart {
    background-image: url("../images/cart_icon.png");
    background-position: 20px center;
    background-color: #f44336;
    padding: 12px 23px 13px 53px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.product-event-content .event-footer .add-to-cart:hover,
.product-event-content .event-footer .add-to-cart:focus {
    background-color: #212121;
}
.product-event-content .event-footer .add-to-wishlist {
    background-image: url("../images/wishlist_black.png");
    background-position: 0 center;
    background-color: transparent;
    padding: 12px 0 13px 33px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 40px;
}
.event-thumbail {
    padding-top: 42px;
    text-align: center;
}
.countdown-section {
    min-width: 70px;
    min-height: 70px;
    display: inline-block;
    padding-top: 10px;
    margin-right: 30px;
    margin-bottom: 9px;
    border: 1px solid #212121;
    border-top-right-radius: 10px;
    -moz-border-top-right-radius: 10px;
    -webkit-border-top-right-radius: 10px;
    -ms-border-top-right-radius: 10px;
    -o-border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    -moz-border-top-left-radius: 10px;
    -webkit-border-top-left-radius: 10px;
    -o-border-top-left-radius: 10px;
    -ms-border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    -moz-border-bottom-right-radius: 10px;
    -webkit-border-bottom-right-radius: 10px;
    -ms-border-bottom-right-radius: 10px;
    -o-border-bottom-right-radius: 10px;
    text-align: center;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.countdown-section:hover {
    background: #212121;
    color: #ffffff;
}
.countdown-section .countdown-amount {
    display: block;
    font-size: 25px;
    line-height: 27px;
    font-weight: 900;
}
.countdown-section .countdown-period {
    display: block;
    font-size: #212121;
    line-height: 21px;
    font-weight: 300;
}
/**
 * 3.4 - Get In Touch
 * -----------------------------------------------------------------------------
 */
.background-parallax {
    background-image: url("../images/parallax.jpg");
    padding-top: 125px;
    padding-bottom: 125px;
}
.get-in-touch {
    text-align: center;
}
.get-in-touch h3 {
    font-size: 30px;
    line-height: 30px;
    color: #ffffff;
    text-transform: uppercase;
    font-weight: 900;
    padding: 3px 0 21px;
    margin: 0;
}
.get-in-touch p {
    font-size: 23px;
    line-height: 27px;
    padding: 10px 0;
    margin: 0;
    color: #ffffff;
}
.get-in-touch a {
    background-color: #f44336;
    font-weight: 700;
    line-height: 21px;
    font-size: 15px;
    display: inline-block;
    padding: 12px 29px;
    color: #ffffff;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    margin-top: 38px;
    margin-bottom: 10px;
    text-transform: uppercase;
}
.get-in-touch a:hover {
    background-color: #212121;
}
/**
 * 3.5 - News Blog
 * -----------------------------------------------------------------------------
 */
.tz-new-blog {
    margin: 15px 0;
}
.tz-new-blog:after {
    clear: both;
    display: table;
    content: '';
}
.tz-new-blog .tzthumbnail {
    width: 50%;
    padding-right: 15px;
    float: left;
    position: relative;
}
.tz-new-blog .tz-new-content {
    width: 50%;
    padding-left: 15px;
    float: left;
}
.tz-new-blog .tz-new-content h4 {
    padding: 0 0 16px 0;
    margin: 0;
    font-weight: 900;
    line-height: 24px;
    font-size: 19px;
}
.tz-new-blog .tz-new-content .post-date {
    font-size: 14px;
    color: #9e9e9e;
    line-height: 24px;
}
.tz-new-blog .tz-new-content .continue {
    color: #f44336;
    display: block;
    margin-top: 24px;
}
/**
 * 3.6 - Partners
 * -----------------------------------------------------------------------------
 */
.tz-partners {
    list-style: none;
    padding: 0;
    margin: 0;
    cursor: e-resize;
}
.tz-partners li {
    padding: 50px 0;
    text-align: center;
}