<div class="row">
    <div class="col-xs-12">
        <!--<img src="{{selectedRecipe?.imagePath}}" alt="" class="img-responsive">-->
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedUser?.name}}</h1>
    </div>
    <div class="col-xs-12">
        <!--<button class="btn btn-success" (click)="onAddToShoppingList()">To Shopping List</button>-->
        <button class="btn btn-primary" (click)="onEdit()">Edit</button>
        <form (ngSubmit)="onDelete()">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <p>{{selectedUser?.description}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <!--<li class="list-group-item" *ngFor="let item of selectedRecipe?.ingredients">{{item.name}} ({{item.amount}})</li>-->
        </ul>
    </div>
</div>
