<section class="tz-shop-single">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">

                <!--Shop images-->
                <div class="shop-images">
                    <ul *ngIf="images" class="single-gallery">
                        <li *ngFor="let image of images; let i = index">
                            <img [imageZoom]='image' [clickToZoom]="true" [src]='image' class="image">
                        </li>
                    </ul>
                    <div class="product-social">
                        <a href="#" class="fa fa-facebook"></a>
                        <a href="#" class="fa fa-twitter"></a>
                        <a href="#" class="fa fa-google-plus"></a>
                        <a href="#" class="fa fa-dribbble"></a>
                    </div>
                </div>
                <!--End shop image-->
            </div>
            <div class="col-md-6 col-sm-6">
                <!--Shop content-->
                <div class="entry-summary">
                    <h1>{{selectedProduct?.name}}</h1>
                    <p class="product-price">
                        <span class="price">{{selectedProduct?.price}} zł</span>
                        <span class="stock">Availability:  <span>{{selectedProduct?.onstock}}</span></span>
                    </p>
                    <div class="description">
                        <p>
                            {{selectedProduct?.description}}
                        </p>
                    </div>
                    <p class="product-price">
                        <span class="stock">Rozmiar:  <span>{{selectedProduct?.size}}</span></span>
                    </p>
                    <form class="tz_variations_form ">
                        <p class="form-attr">
                                <span class="color">
                                    <label>Color:</label>
                                    <select name="color">
                                        <option value="{{color}}" *ngFor="let color of colors">{{color | uppercase}}</option>
                                    </select>
                                </span>
                            <span class="tzqty">
                                    <label>Qty:</label>
                                    <input type="number" #qty step="1" min="1" max="{{selectedProduct?.onstock}}" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                </span>
                        </p>
                        <p>
                            <button (click)="addToCart(qty.value)" class="single_add_to_cart_button">Add to cart</button>
                            <button type="submit" class="single_add_to_wishlist">add to wishlist</button>
                        </p>
                    </form>
                </div>
                <!--End shop content-->
            </div>

        </div>
    </div>

    <!--Shop tabs-->
    <div class="tz-shop-tabs">
        <div class="container">
            <div class="tab-head">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#description" data-toggle="tab">Description</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <p>{{selectedProduct?.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--End tab-->


</section>