.tz-shop-single {
    padding: 30px 0 0;
}
.single-gallery {
    list-style: none;
    padding: 0;
    margin: 0;
}
.single-gallery .owl-controls .owl-page span {
    width: 10px;
    height: 10px;
    opacity: 1;
    filter: alpha(opacity=100);
    background: none;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    border: 3px solid #e0e0e0;
    margin: 10px 5px;
}
.single-gallery .owl-controls .owl-page:hover span,
.single-gallery .owl-controls .owl-page.active span,
.single-gallery .owl-controls .owl-page:focus span {
    background: transparent;
    border-color: #f44336;
}
.product-social {
    margin-top: 40px;
}
.product-social a {
    display: inline-block;
    font-size: 25px;
    padding: 0 22px;
    border-left: 2px solid #e0e0e0;
    line-height: 28px;
}
.product-social a:first-child {
    padding-left: 0;
    border-left: 0;
}
.entry-summary h1 {
    font-size: 25px;
    line-height: 24px;
    padding: 0;
    margin: 48px 0 22px 0;
    font-weight: 900;
}
.entry-summary .product-price {
    margin: 15px 0;
}
.entry-summary .product-price:after {
    clear: both;
    display: table;
    content: '';
}
.entry-summary .product-price .price {
    font-weight: 900;
    color: #f44336;
    font-size: 30px;
    display: inline-block;
}
.entry-summary .product-price .stock {
    padding-left: 80px;
}
.entry-summary .product-price .stock span {
    color: #f44336;
}
.entry-summary p {
    line-height: 25px;
}
.entry-summary .tz_variations_form {
    margin-top: 23px;
}
.entry-summary .tz_variations_form .form-attr {
    margin: 0 0 30px 0;
}
.entry-summary .tz_variations_form label {
    font-weight: 300;
    margin-right: 15px;
    font-size: 19px;
}
.entry-summary .tz_variations_form select,
.entry-summary .tz_variations_form input {
    border: 1px solid #e0e0e0;
    height: 45px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    text-align: center;
    padding: 0 10px;
}
.entry-summary .tz_variations_form .tzqty {
    margin-left: 47px;
}
.entry-summary .tz_variations_form .qty {
    width: 90px;
    padding: 0;
}
.single_add_to_cart_button {
    background-image: url("../images/cart_icon.png");
    background-position: 20px center;
    background-color: #f44336;
    padding: 12px 23px 12px 53px;
    background-repeat: no-repeat;
    border: 0;
    text-transform: uppercase;
    color: #ffffff;
    display: inline-block;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
}
.single_add_to_cart_button:hover,
.single_add_to_cart_button:focus {
    background-color: #212121;
}
.single_add_to_wishlist {
    background-image: url("../images/wishlist_black.png");
    background-position: 0 center;
    background-color: transparent;
    padding: 12px 0 13px 33px;
    background-repeat: no-repeat;
    text-transform: uppercase;
    display: inline-block;
    margin-left: 40px;
    border: 0;
}
.tz-shop-tabs {
    background: #fafafa;
    margin: 70px 0 100px;
    padding: 52px 0 45px;
}
.tz-shop-tabs .tab-content {
    padding: 10px 0;
}
.tz-shop-tabs .tab-content p {
    line-height: 30px;
    padding: 8px 0;
}
.tab-head {
    text-align: center;
}
.tab-head .nav-tabs {
    display: inline-block;
    border: 0;
}
.tab-head .nav-tabs:after {
    clear: both;
    display: table;
    content: '';
}
.tab-head .nav-tabs li a {
    border: 0;
    background: transparent;
    font-size: 25px;
    font-weight: 900;
    text-transform: uppercase;
}
.tab-head .nav-tabs li.active a,
.tab-head .nav-tabs li:focus a,
.tab-head .nav-tabs li:hover a {
    border: 0;
    color: #f44336;
    background: transparent;
}

.visualhidden {
    visibility: hidden;
}

.slider {
    overflow: hidden;
    height:550px;
    width:100%;
    width:700px;
    position:relative;
    border:3px solid #333;
}
/* slajdy */
.slider .slide {
    position: absolute;
    top:0;
    left:0;
    height:555px;
    width:100%;
    opacity:0;
    z-index:1; /* wszystkie slajdy są ustawione "nisko" */
}

.slider .slide .image {
    position: absolute;
    top:0;
    right:-300px;
    opacity:0;
    z-index:1; /* obrazki sa nizej niz teksty */

    -moz-transition:     1s;      -moz-transition-delay: 1.4s;
    -webkit-transition:  1s;   -webkit-transition-delay: 1.4s;
    transition:          1s;           transition-delay: 1.4s;
}

/* paginacja */
.slider .pagination {
    position: absolute;
    right:30px;
    bottom:30px;
    text-align: right;
    z-index: 30;
}

.slider .pagination li {
    width:26px;
    height:26px;
    margin-top:2px;
    background: #799BCE;
    display: inline-block;
    border-radius:50%;
    margin:0 3px;
}

.slider .pagination li.active {
    background: #B2CEFA;
    border:2px solid #B2CEFA;
}

.slider .pagination li a {
    text-align: left;
    display: block;
    text-indent:-999px;
    overflow:hidden;
    width:100%;
    height:100%;
}