<div class="row">
    <div class="col-xs-12">
        <h1>{{selectedOrder?.id}}.{{selectedOrder?.name}} {{selectedOrder?.surname}}</h1>
    </div>
</div>
<hr>
<div class="row">
    <div class="col-xs-12">
        <h1>Adres:</h1>
        <p>Ulica: {{selectedOrder?.street}}</p>
        <p>{{selectedOrder?.zip}} {{selectedOrder?.city}}</p>
        <p>Telefon: {{selectedOrder?.phone}}</p>
        <p>Email: {{selectedOrder?.email}}</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Zamówione produkty:</h1>
        <div *ngFor="let item of items">
            <p>{{item?.name}} x{{item?.quantity}} - {{item?.price}}</p>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <h1>Kwota do zapłaty: {{selectedOrder?.total}}</h1>
    </div>
</div>

