<section class="tz-shop-single">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <div class="row">
                        <!--Shop images-->
                        <div class="shop-images">
                            <ul *ngIf="images" class="single-gallery">
                                <li *ngFor="let image of images; let i = index" style="position: relative">
                                    <button (click)="setAsThumbnail(image)" class="btn btn-danger btn-xs" style="position: absolute;right: 0;bottom:0;">SetThumb</button>
                                    <button (click)="deleteImage(image)" class="btn btn-danger btn-xs" style="position: absolute;right: 0;">&times;</button>
                                    <img src="../uploads/{{product?.id}}/{{image}}" alt="Propel Advanced Pro" >
                                </li>
                            </ul>
                            <div class="product-social">
                                <a href="#" class="fa fa-facebook"></a>
                                <a href="#" class="fa fa-twitter"></a>
                                <a href="#" class="fa fa-google-plus"></a>
                                <a href="#" class="fa fa-dribbble"></a>
                            </div>
                        </div>
                        <!--End shop image-->

                        <!--Shop content-->
                        <div class="entry-summary">
                            <h1>{{product?.name}}</h1>
                            <span class="p-vote">
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i>
                        </span>
                            <p class="product-price">
                                <span class="price">${{product?.price}}</span>
                                <span class="stock">Availability:  <span>{{product?.onstock}}</span></span>
                            </p>
                            <div class="description">
                                <p>
                                    {{product?.description}}
                                </p>
                            </div>
                            <form class="tz_variations_form ">
                                <p class="form-attr">
                                <span class="color">
                                    <label>Color:</label>
                                    <select name="color">
                                        <option value="blue">Blue</option>
                                        <option value="blue">Red</option>
                                        <option value="blue">Yellow</option>
                                    </select>
                                </span>
                                    <span class="tzqty">
                                    <label>Qty:</label>
                                    <input type="number" step="1" min="1" name="quantity" value="1" title="Qty" class="input-text qty text" size="4">
                                </span>
                                </p>
                                <p>
                                    <button type="submit" class="single_add_to_cart_button">Add to cart</button>
                                    <button type="submit" class="single_add_to_wishlist">add to wishlist</button>
                                </p>
                            </form>
                        </div>
                        <!--End shop content-->
                </div>

            </div>
            <div class="col-md-6 col-sm-6">
                <div class="row">
                    <my-image-upload (notifyUpload)="uploadImages(true)"></my-image-upload>
                </div>
                <div class="row">
                    <form [formGroup]="productForm" (ngSubmit)="onSubmit()">

                        <div class="form-group">
                            <label for="name">Nazwa</label>
                            <input *ngIf="!product" formControlName="name" type="text" id="name" #name class="form-control">
                            <input *ngIf="product" formControlName="name" type="text" id="name" #name class="form-control" [(ngModel)]="product.name">
                        </div>
                        <div class="form-group">
                            <label for="category">Kategoria</label>
                            <input *ngIf="!product" formControlName="category" type="text" id="category" #category class="form-control">
                            <input *ngIf="product" formControlName="category" type="text" id="category" #category class="form-control" [(ngModel)]="product.category">
                        </div>
                        <div class="form-group">
                            <label for="category">Ilość</label>
                            <input *ngIf="!product" formControlName="onstock" type="number" id="onstock" #onstock class="form-control">
                            <input *ngIf="product" formControlName="onstock" type="number" id="onstock" #onstock class="form-control" [(ngModel)]="product.onstock">
                        </div>
                        <div class="form-group">
                            <label for="category">Rozmiar</label>
                            <input *ngIf="!product" formControlName="size" type="text" id="size" #size class="form-control">
                            <input *ngIf="product" formControlName="size" type="text" id="size" #size class="form-control" [(ngModel)]="product.size">
                        </div>
                        <div class="form-group">
                            <label for="category">Cena</label>
                            <input *ngIf="!product" formControlName="price" type="number" step="0.01" id="price" #price class="form-control">
                            <input *ngIf="product" formControlName="price" type="number" step="0.01" id="price" #price class="form-control" [(ngModel)]="product.price">
                        </div>
                        <div class="form-group">
                            <label for="category">Kolor</label>
                            <input *ngIf="!product" formControlName="color" type="text" id="color" #color class="form-control">
                            <input *ngIf="product" formControlName="color" type="text" id="color" #color class="form-control" [(ngModel)]="product.color">
                        </div>
                        <div class="form-group">
                            <label for="category">Opis</label>
                            <input *ngIf="!product" formControlName="description" type="text" id="description" #description class="form-control">
                            <input *ngIf="product" formControlName="description" type="text" id="description" #description class="form-control" [(ngModel)]="product.description">
                        </div>
                        <div class="row">
                            <div class="col-xs-12">
                                <button type="submit" class="btn btn-success" [disabled]="!productForm.valid">Save</button>
                                <a class="btn btn-danger" (click)="onCancel()">Cancel</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

        </div>
    </div>

    <!--Shop tabs-->
    <div class="tz-shop-tabs">
        <div class="container">
            <div class="tab-head">
                <ul class="nav nav-tabs">
                    <li role="presentation" class="active"><a href="#description" data-toggle="tab">Description</a></li>
                </ul>
            </div>
            <div class="tab-content">
                <div class="tab-pane active" id="description">
                    <p>{{product?.description}}</p>
                </div>
            </div>
        </div>
    </div>
    <!--End tab-->


</section>