<div class="row">
    <div class="col-xs-12">
        <a class="btn btn-success" [routerLink]="['new']">New user</a>
</div>
<div class="row">
    <div class="col-xs-12">
        <ul class="list-group">
            <rb-user-item (notifyParent)="getNotification($event)" *ngFor="let user of users | paginate: { itemsPerPage: 3, currentPage: page }; let i = index" [user]="user" [userId]="i"></rb-user-item>
        </ul>
        <div class="is-text-centered">
            <pagination-controls (pageChange)="page = $event"></pagination-controls>
        </div>
    </div>
</div>