<div class="list-group-item clearfix" routerLinkActive="active">
    <a [routerLink]="[user.id]" class="pull-left">
        <h4 class="list-group-item-heading">{{user.name}}</h4>
        <!--<p class="list-group-item-text">{{recipe.description}}</p>-->
    </a>
  <span class="pull-right">
      <button (click)="onDelete()" class="btn btn-danger">X</button>
      <!--<img class="img-responsive"
           src="{{recipe.imagePath}}"
           style="max-height: 50px;"/>-->
  </span>
</div>