<div class="tz-shop-sidebar">
    <aside class="widget widget_product_categories">
        <h3 class="widget-title">Bikes product</h3>
        <ul class="product-categories">
            <li>
                <a href="shop.html">On-Road</a>
            </li>
            <li class="cat-parent">
                <a href="shop.html">X-Road</a>
                <ul class="children">
                    <li>
                        <a href="shop.html">Aero Race <span>(3)</span></a>
                    </li>
                    <li>
                        <a href="shop.html">City <span>(3)</span></a>
                    </li>
                    <li>
                        <a href="shop.html">Comfort<span>(1)</span></a>
                    </li>
                    <li>
                        <a href="shop.html">Cruiser<span>(1)</span></a>
                    </li>
                    <li>
                        <a href="shop.html">Endurance <span>(4)</span></a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="shop.html">Off-Road</a>
            </li>
            <li>
                <a href="shop.html">BMX</a>
            </li>
        </ul>
    </aside>
    <aside class="product-catlog widget">
        <h3 class="widget-title">Catalog</h3>
        <div class="widget_price_filter">
            <h4 class="widget-title-children">
                Price Filter
            </h4>
            <form>
                <input type="range" min="0" max="10000"
                       [(ngModel)]="priceSliderValue" [ngModelOptions]="{standalone: true}"/>
                <input type="range" min="0" max="10000"
                       [(ngModel)]="anotherPriceSliderValue" [ngModelOptions]="{standalone: true}"/>
                <div class="price_label">
                    <span class="value-price">
                        <span class="from">{{priceSliderValue}}</span>
                         -
                        <span class="to">{{anotherPriceSliderValue}}</span>
                    </span>
                </div>
            </form>
        </div>
        <div class="widget_color_filter">
            <h4 class="widget-title-children">
                Color filter
            </h4>
            <ul>
                <li>
                    <a href="shop.html" class="light-blue"></a>
                </li>
                <li>
                    <a href="shop.html" class="orange"></a>
                </li>
                <li>
                    <a href="shop.html" class="blueviolet"></a>
                </li>
                <li>
                    <a href="shop.html" class="orange-dark"></a>
                </li>
                <li>
                    <a href="shop.html" class="steelblue"></a>
                </li>
                <li>
                    <a href="shop.html" class="red-light"></a>
                </li>
                <li>
                    <a href="shop.html" class="cyan-dark"></a>
                </li>
            </ul>
        </div>
        <div class="widget-size-filter">
            <h4 class="widget-title-children">
                Size Filter
            </h4>
            <ul>
                <li>
                    <a href="shop.html">S - Small  <span>(24)</span></a>
                </li>
                <li>
                    <a href="shop.html">M - Medium  <span>(18)</span></a>
                </li>
                <li>
                    <a href="shop.html">L - Large <span>(9)</span></a>
                </li>
                <li>
                    <a href="shop.html"> XL - Extra Large <span>(39)</span></a>
                </li>
                <li>
                    <a href="shop.html">xtra Extra Large  <span>(24)</span></a>
                </li>
            </ul>
        </div>
        <div class="widget-size-filter">
            <h4 class="widget-title-children">
                Brand Filter
            </h4>
            <ul>
                <li>
                    <a href="shop.html">S - Small  <span>(24)</span></a>
                </li>
                <li>
                    <a href="shop.html">M - Medium  <span>(18)</span></a>
                </li>
                <li>
                    <a href="shop.html">L - Large <span>(9)</span></a>
                </li>
                <li>
                    <a href="shop.html"> XL - Extra Large <span>(39)</span></a>
                </li>
                <li>
                    <a href="shop.html">xtra Extra Large  <span>(24)</span></a>
                </li>
            </ul>
        </div>
    </aside>
    <aside class="widget widget_product">
        <h3 class="widget-title">Featured product</h3>
        <ul>
            <li>
                <a href="shop.html">
                    <img src="../images/product/widget1.jpg" alt="Defy Advanced">
                    <div class="item-info">
                        <h5>Defy Advanced</h5>
                        <span class="p-vote">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                        <span class="price">$256.00</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="shop.html">
                    <img src="../images/product/widget2.jpg" alt="Defy Advanced">
                    <div class="item-info">
                        <h5>Liv Race Day Short</h5>
                        <span class="p-vote">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                        <span class="price">$256.00</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="shop.html">
                    <img src="../images/product/widget3.jpg" alt="Defy Advanced">
                    <div class="item-info">
                        <h5>City Pedals Sport</h5>
                        <span class="p-vote">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                        <span class="price">$256.00</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="shop.html">
                    <img src="../images/product/widget4.jpg" alt="Defy Advanced">
                    <div class="item-info">
                        <h5>Gloss</h5>
                        <span class="p-vote">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                        <span class="price">$256.00</span>
                    </div>
                </a>
            </li>
            <li>
                <a href="shop.html">
                    <img src="../images/product/widget5.jpg" alt="Defy Advanced">
                    <div class="item-info">
                        <h5>Cruiser Bells</h5>
                        <span class="p-vote">
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star"></i>
                                                <i class="fa fa-star-half-o"></i>
                                            </span>
                        <span class="price">$256.00</span>
                    </div>
                </a>
            </li>
        </ul>
    </aside>
</div>