.widget-title {
    font-size: 16px;
    line-height: 32px;
    color: #f44336;
    margin: 0;
    text-transform: uppercase;
    font-weight: 900;
    letter-spacing: 1.5px;
}
.tz-shop-sidebar .widget-title {
    border-bottom: 2px solid #e0e0e0;
    margin-bottom: 18px;
}
.tz-shop-sidebar .widget {
    margin-bottom: 48px;
}
.product-categories {
    list-style: none;
    padding: 0;
    margin: 0;
}
.product-categories > li {
    position: relative;
}
.product-categories > li:after {
    position: absolute;
    right: 0;
    top: 3px;
    content: "\f105";
    font-family: 'FontAwesome';
}
.product-categories > li.cat-parent:after {
    content: "\f107";
}
.product-categories > li:hover:after {
    color: #f44336;
}
.product-categories > li a {
    line-height: 36px;
    text-transform: uppercase;
}
.product-categories > li a span {
    color: #9e9e9e;
    display: inline-block;
    padding-left: 3px;
}
.product-categories > li ul {
    margin: 0;
    padding: 10px 10px 10px 20px;
    list-style: none;
}
.product-categories > li ul li a {
    text-transform: none;
    line-height: 32px;
}
.product-catlog .widget_price_filter,
.product-catlog .widget_color_filter,
.product-catlog .widget-size-filter {
    padding-left: 20px;
}
.widget-title-children {
    font-size: 16px;
    line-height: 36px;
    font-weight: 700;
    color: #212121;
    text-transform: uppercase;
    padding: 0 0 10px;
    margin: 0;
    position: relative;
}
.widget-title-children:after {
    position: absolute;
    right: 0;
    top: 1px;
    content: "\f107";
    font-family: 'FontAwesome';
}
.widget_price_filter form {
    margin-top: 9px;
}
.price_label {
    margin-top: 25px;
}
.price_label:after {
    clear: both;
    display: table;
    content: '';
}
.price_label button {
    border: 0;
    background: transparent;
    display: inline-block;
    float: left;
    text-transform: uppercase;
    font-size: 14px;
    margin: 0;
    padding: 0;
}
.price_label .value-price {
    display: block;
    float: right;
    font-size: 14px;
    font-style: italic;
}
.ui-slider {
    position: relative;
    text-align: left;
    height: 5px;
}
.ui-widget-content {
    background: #eeeeee;
}
.ui-slider .ui-slider-handle {
    position: absolute;
    z-index: 2;
    width: 1.2em;
    height: 1.2em;
    -ms-touch-action: none;
    touch-action: none;
    cursor: pointer;
}
.ui-slider .ui-slider-range {
    position: absolute;
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background-position: 0 0;
    cursor: pointer;
}
.ui-widget-header {
    background: #212121;
    height: 100%;
}
.ui-state-default {
    background: #212121;
    font-weight: normal;
    color: #fff;
    width: 15px;
    height: 15px;
    -webkit-transform: translate(0, -7.5px);
    -ms-transform: translate(0, -7.5px);
    -o-transform: translate(0, -7.5px);
    transform: translate(0, -7.5px);
    cursor: pointer;
}
.ui-state-default:hover,
.ui-state-default:focus {
    outline: none;
    outline-color: transparent;
}
.ui-state-default:after {
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-3px, -4px);
    -ms-transform: translate(-3px, -4px);
    -o-transform: translate(-3px, -4px);
    transform: translate(-3px, -4px);
    content: '';
    width: 5px;
    height: 5px;
    background: url("../images/bar.png") no-repeat center center;
}
.widget_color_filter {
    margin-top: 20px;
}
.widget_color_filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget_color_filter ul:after {
    clear: both;
    display: table;
    content: '';
}
.widget_color_filter ul li {
    float: left;
}
.widget_color_filter ul li a {
    margin-right: 10px;
    display: inline-block;
    height: 20px;
    width: 20px;
}
.widget-size-filter {
    margin-top: 20px;
}
.widget-size-filter .widget-title-children {
    padding-bottom: 5px;
}
.widget-size-filter ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
.widget-size-filter ul li a {
    line-height: 36px;
}
.widget-size-filter ul li a span {
    color: #9e9e9e;
    padding-left: 5px;
}
.widget_product ul {
    padding: 0;
    margin: 30px 0 0 0;
    list-style: none;
}
.widget_product ul li {
    margin-top: 20px;
}
.widget_product ul li:after {
    clear: both;
    display: table;
    content: '';
}
.widget_product ul li a {
    display: block;
}
.widget_product ul li a:after {
    clear: both;
    display: table;
    content: '';
}
.widget_product ul li img {
    float: left;
    max-width: 80px;
    border: 1px solid #eeeeee;
}
.widget_product ul li .item-info {
    padding-left: 100px;
}
.widget_product ul li .item-info h5 {
    font-size: 16px;
    padding: 0;
    margin: 0;
}
.widget_product ul li .item-info .p-vote {
    display: block;
    margin-top: 3px;
    font-size: 13px;
    color: #212121;
}
.widget_product ul li .item-info .price {
    margin-top: 3px;
    color: #f44336;
}