<!--Start create an account-->
<section class="default-page">
    <div class="container">
        <div class="tz-register">
            <div *ngIf="dataSuccess">
                <h2>Pomyślnie zedytowano użytkownika. <br> Możesz się zalogować ponownie</h2>
                <button (click)="onLogin()" class="button">Zaloguj się</button>
            </div>
            <form *ngIf="!dataSuccess" [formGroup]="myForm" (ngSubmit)="onSubmit()">
                <h2>Edycja użytkownika</h2>
                <div class="form-group form-row form-row-wide">
                    <label for="name">Login</label>
                    <input *ngIf="!user" formControlName="name" type="text" id="name" #name class="form-control">
                    <input *ngIf="user" formControlName="name" type="text" id="name" #name class="form-control" [(ngModel)]="user.name">
                    <span class="error">{{errorName}}</span>
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="email">E-Mail</label>
                    <input *ngIf="!user" formControlName="email" type="email" id="email" #email class="form-control">
                    <input *ngIf="user" formControlName="email" type="email" id="email" #email class="form-control" [(ngModel)]="user.email">
                    <span>{{errorEmail}}</span>
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="password">Hasło</label>
                    <input formControlName="password" type="password" id="password" class="form-control">
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="confirm-password">Powtórz hasło</label>
                    <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control">
                    <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
                </div>

                <div class="form-row">
                    <input type="submit" [disabled]="!myForm.valid" class="button" value="Zaktualizuj dane">
                </div>
            </form>
            <!--End form-->

        </div>
    </div>
</section>
<!--End create an account-->