<!--Start create an account-->
<section class="default-page">
    <div class="container">
        <div class="tz-register">
            <div *ngIf="dataSuccess">
                <h2>Pomyślnie zarejestrowano. <br> Możesz się zalogować</h2>
                <button (click)="onLogin()" class="button">Zaloguj się</button>
            </div>
            <form *ngIf="!dataSuccess" [formGroup]="myForm" (ngSubmit)="onSignup()">
                <h2>Rejestracja</h2>
                <div class="form-group form-row form-row-wide">
                    <label for="name">Name</label>
                    <input formControlName="name" type="text" id="name" #name class="form-control">
                    <span class="error">{{errorName}}</span>
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="email">E-Mail</label>
                    <input formControlName="email" type="email" id="email" #email class="form-control">
                    <span *ngIf="!email.pristine && email.errors != null && email.errors['noEmail']">Invalid mail address</span>
                    <span>{{errorEmail}}</span>
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" id="password" class="form-control">
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="confirm-password">Confirm Password</label>
                    <input formControlName="confirmPassword" type="password" id="confirm-password" #confirmPassword class="form-control">
                    <span *ngIf="!confirmPassword.pristine && confirmPassword.errors != null && confirmPassword.errors['passwordsNotMatch']">Passwords do not match</span>
                </div>

                <div class="form-row">
                    <input type="submit" [disabled]="!myForm.valid" class="button" value="Zarejestruj się">
                </div>
            </form>
            <!--End form-->

        </div>
    </div>
</section>
<!--End create an account-->