/**
 * 3.7.6 - Shop Register
 * -----------------------------------------------------------------------------
 */
.default-page {
    padding: 80px 0;
}
.tz-register {
    margin: 41px 0;
}
.tz-register h2 {
    text-align: center;
    font-size: 40px;
    line-height: 40px;
    color: #212121;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 1.5px;
}
.tz-register form {
    width: 570px;
    margin: 47px auto 0;
}
.tz-register form .form-row {
    padding: 9px 0;
}
.tz-register form .form-row:after {
    clear: both;
    display: table;
    content: '';
}
.tz-register form .form-row label {
    text-transform: uppercase;
}
.tz-register form .form-row input[type='text'],
.tz-register form .form-row input[type='password'],
.tz-register form .form-row input[type='email']{
    width: 100%;
    height: 50px;
    border: 1px solid #e0e0e0;
    padding: 0 15px;
    border-radius: 3px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    line-height: 40px;
}
.tz-register form .form-row input[type='text']::-moz-placeholder,
.tz-register form .form-row input[type='password']::-moz-placeholder,
.tz-register form .form-row input[type='email']::-moz-placeholder
{
    color: #212121;
    opacity: 1;
}
.tz-register form .form-row input[type='text']:-ms-input-placeholder,
.tz-register form .form-row input[type='password']:-ms-input-placeholder,
.tz-register form .form-row input[type='email']:-ms-input-placeholder{
    color: #212121;
}
.tz-register form .form-row input[type='text']::-webkit-input-placeholder,
.tz-register form .form-row input[type='password']::-webkit-input-placeholder,
.tz-register form .form-row input[type='email']::-webkit-input-placeholder{
    color: #212121;
}
.tz-register form .form-row input[type='submit'],
.tz-register button.button{
    background: #212121;
    color: #ffffff;
    text-transform: uppercase;
    padding: 5px 35px;
    display: inline-block;
    border: 0;
    font-size: 16px;
    line-height: 36px;
    -webkit-transition: all 0.4s ease 0s;
    -o-transition: all 0.4s ease 0s;
    transition: all 0.4s ease 0s;
    float: right;
    height: 50px;
    margin-top: 1px;
}
.tz-register button.button{
    float: none;
    margin: 20px auto 0;
    display: block;
}
.tz-register form .form-row input[type='submit']:hover,
.tz-register form .form-row input[type='submit']:focus,
.tz-register button.button:hover,
.tz-register button.button:focus{
    background: #f44336;
}