<!--Start login-->
<section class="default-page">
    <div class="container">
        <div class="tz-register">
            <form [formGroup]="myForm" (ngSubmit)="onSignin()">
                <h2>Logowanie</h2>
                <div class="form-group form-row form-row-wide">
                    <label for="email">E-Mail</label>
                    <input formControlName="email" type="email" id="email" #email class="form-control">
                </div>
                <div class="form-group form-row form-row-wide">
                    <label for="password">Password</label>
                    <input formControlName="password" type="password" id="password" class="form-control">
                </div>
                <span class="error">
                    {{errorMessage}}
                </span>
                <div class="form-row">
                    <input type="submit" [disabled]="!myForm.valid" class="button" value="Zaloguj się">
                </div>
            </form>
            <!--End form-->
        </div>
    </div>
</section>
<!--End login-->