<!doctype html>
<html>
<head>
  <meta charset="utf-8">
  <title>Auth</title>
  <base href="http://localhost/ngTest3/dist/">

  {{#unless environment.production}}
  <script src="/ember-cli-live-reload.js" type="text/javascript"></script>
  {{/unless}}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
</head>
<body>
  <my-app>
    <div style="background: #000; display: table; width: 100%; height: 100vh">
      <div style="display: table-cell; vertical-align: middle; text-align: center;">
        <h2>BIKE SHOP</h2>
        <img src="../images/gears.gif" alt="">
      </div>
    </div>
  </my-app>



    {{#each scripts.polyfills}}
    <script src="{{.}}"></script>
    {{/each}}
    <script>
      System.import('system-config.js').then(function () {
        System.import('main');
      }).catch(console.error.bind(console));
    </script>



</body>
</html>
